// Components :: Material Board (Keybound)

.material-board__keybound {
  @include flex($keybound-flex-size);
  @include transform(translateZ(0));
  @include user-select(none);
  display: block;
  height: $keybound-size;
  margin: $keybound-margin;
  padding: 0;
  position: relative;
  z-index: 1;

  &:hover {
    z-index: 2;
  }

  &:active,
  &.is-active {
    z-index: 2;
  }
}

.material-board__keybound--modifier {
  @include flex($keybound-mod-flex-size);
}

.material-board__keybound--space {
  @include flex($keybound-space-flex-size);
}

.material-board__spacer {
  @include flex($keybound-flex-size);

  &--half {
    @include flex($keybound-flex-size-half);
  }
}
