// Components :: Material Board (Keycap)

.material-board__keycap {
  @include transform(translateZ(0));
  @include transition($keycap-transition);
  @include user-select(none);
  background-color: $color-bg-dark;
  border-radius: $keycap-border-radius;
  bottom: 0;
  box-shadow: $keycap-shadow;
  color: $keycap-text-color;
  cursor: pointer;
  display: block;
  font-size: $keycap-font-size;
  height: $keycap-size;
  line-height: $keycap-size;
  padding: 0;
  position: absolute;
  text-align: center;
  width: $keycap-width;

  // &:hover,
  // &.is-hover {
  //   box-shadow: $keycap-shadow-hover;
  //   color: $white;
  // }

  &:active,
  &.is-active {
    @include transition($keycap-transition-active);
    @include transform($keycap-transform-active);
    background-color: lighten($color-bg-dark, 8);
    box-shadow: $keycap-shadow-active;
    height: $keycap-height-active;
    width: $keycap-width-active;
  }
}

.material-board__keycap--icon {
  font-size: $keycap-icon-size;
  line-height: $keycap-size;

  img {
    vertical-align: inherit;
  }
}

.material-board__keycap--modifier {
  &:active,
  &.is-active {
    height: $keybound-size;
    width: $keybound-mod-width;
  }
}

.material-board__keycap--primary {
  @include transform(translateX(-50%));
  background-color: $color-primary;
  border-radius: $keycap-border-round;
  left: 50%;
  width: $keycap-size;

  &:active,
  &.is-active {
    @include transform($keycap-primary-transform-active);
    background-color: lighten($color-primary, 6);
    height: $keycap-size;
    width: $keycap-size;
  }
}