// Components :: Material Board

// Default board color: Dark

.material-board {
  @include user-select(none);
  background-color: $color-bg-dark;
  box-shadow: $keyboard-shadow;
  max-width: $keyboard-max-width;
  margin: auto;
  padding: $keyboard-padding;

  &__row {
    @include align-items(center);
    @include display(flex);
    @include justify-content(center);
  }
}


// Modifiers
.material-board--light {
  background-color: $color-bg-light;

  .material-board__keycap {
    background-color: $color-bg-light;
    box-shadow: $keycap-light-shadow;
    color: $color-text-dark;

    &:hover {
      box-shadow: $keycap-light-shadow-hover;
    }

    &:active,
    &.is-active {
      background-color: lighten($color-bg-light, 4);
      box-shadow: $keycap-light-shadow-active;
    }
  }
}

.material-board--flat {
  .material-key {
    box-shadow: none !important;
  }
}