// Component :: Notepad

#notepad {
  background-color: transparent;
  border: none;
  display: block;
  font-size: $keycap-font-size;
  height: 120px;
  line-height: 1.5;
  margin: auto;
  max-width: $keyboard-max-width;
  outline: none;
  padding: 10px;
  width: 100%;

  @media (max-height: 600px) {
    @include flex(1);
  }

}